<div class="container">
   <img class="logo" src="/spotify_green.png">
   <hr>
    <div class="login">
        <div class="fcontain">
        <div>
            <strong><label>Enter Your Email</label></strong><br>
            <input class="text" type="text" placeholder="Email Address">
        </div>
        <div>
            <strong><label>Enter Password</label></strong><br>
            <input class="text" type="password" placeholder="Password">
        </div>
        <label><a href="/">Forgot Password?</a></label>
    </div>
        <div class="creds">
            <div class="check"><input type="checkbox" ><label>Remember Me</label></div>
            <button class="login__btn">LOG IN</button>
        </div>
        <hr class="light">
        <div class="forgotten_creds">
            <strong><label>Don't have an account?</label></strong>
            <button class="signup__btn">Sign Up for Spotify</button>
        </div>
    </div>
</div>