.spotify_container_sidebar{
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.nav{
    position: relative;
    z-index: 1;
}
.spotify_container_sidebar img{
    width: 70%;
    height:35px;
}

.sidebar-content{
    color: white;
    margin: 10px;
    padding-right: 30px;
    cursor: pointer;
}

.sidebar-content:hover{
    color: rgb(152, 150, 150);
    overflow: hidden;
}

.spotify_container_playlist{
    background-color: rgb(30, 30, 30);
    height: 100vh;
    overflow-y: auto;
    padding: 20px;
z-index: 2;
}
h2{
    margin-top:22px;
    color: aliceblue;
    font-size: 22px;
}

.song-list{
    display: flex;
    gap: 8px;
    flex-direction: row;
    overflow-x: auto;
    scrollbar-width: none;
    white-space: nowrap;
    max-width: 100%; 
    padding-bottom: 1;
}
  
  .song-list::-webkit-scrollbar{
    display: none;
    width: 0px;
    height: 0px;
  }
  app-song-cards {
    flex: 0 0 auto;
    width: 196px;
    overflow: hidden;
    border-radius: 4px;
  }